#container {
	width: 1000px;
	margin: 0px auto;
	text-align: center;
}

label {

	border-radius: 10px;
	color: white;
	background-color: red;
}



#quizQuestion {
font-size: 30px;
background-color: grey;
margin: 0px auto;
}

#quizQuestion input {
float: left;
}

#quizQuestion label {
	display: inline-block;
}

#logan {
	display: none;
	z-index: -1;
	float: left;
	position: absolute;
	left: 0;
}

.footer {
	margin-top: 200px;
}